<article class="post">
    <div>
        <h2 class="post-title">{{title}}</h2> 
        <p>{{text}}</p>
        <h3 class="post-user-info">Posted by {{user.name}} on {{format_date createdAt}}</h3>
    </div>
    <div>
        {{#if comments}}
        <a href="/post/{{id}}">{{comments.length}} {{format_comment "comment" comments.length}}</a>
        {{else}}
        <a href="/post/{{id}}">No comments yet. Add one now!</a>
        {{/if}}
    </div>
</article>